LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<your-api-key>
LANGCHAIN_PROJECT=<your-project>  # if not specified, defaults to "default"

GITEE_APP=
GITEE_APP_REDIRECT_URL=
GITEE_CLIENT_ID=
GITEE_CLIENT_SECRET=
GITEE_IS_AUTHORIZED=
GITEE_BOT_USR=
GITEE_BOT_PSW=
GITEE_ACCESS_TOKEN=

OPENAI_API_KEY=<your-openai-api-key>

SMEE_SOURCE=https://smee.io/new
SMEE_TARGET=http://devbot:8000/webhook/github
